
@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

    font-size: 100%;
}

html{
  padding:0;
  font-family: 'Quicksand', sans-serif;
}
header{
  background-image: url("../images/clouds.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 2em;
}

h1{
  font-family: 'Oswald', sans-serif;
  color: white;
}

h2{
  padding-top: .5em;
}

.me{
  width: 25%;
  float: left;
  padding: 0.25em;
  padding-bottom: 1em;
}

a:hover{
  color: grey;
}

a{
  color: black;
  text-decoration: none;
  padding: .5em;
}

footer{
  padding: 1em;
}
